body, html {
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    margin: 0;
}

div.jumbotron {
    background-color: #2f61ce;
    height: 500px;
}

div.logo {
    width: 150px;
    height: 30px;
    left: 250px;
}

.container {
    color: #2f61ce;
    height: auto;
}

.navbar {
    left: 750px;
    background: transparent;
}

a.nav-link {
    font-size: 20px;
    max-width: 200px;
    color: tomato;
}

.headertext {
    padding: 6rem 0;
    z-index: 5;
    text-align: left;
}

h1.header {
    font-size: 4rem;
    font-weight: 200;
    line-height: 4rem;
    color: white;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 200;
    line-height: 3.5rem;
    color: white;
}

.yellow-highlight {
    color: yellow;
}

.image {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
}

.conference_topic_images{
    text-align: center;
}

.column{
    display: inline-block;
    margin: 10px;
}

h2.intro_text{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 200;
    line-height: 3.5rem;
    color: black;
    text-align: center;
}

.container{
    width: 100%;
    border-radius: 5px;
}

h1.updates{
    margin-top: 10%;
    font-size: 2rem;
    font-weight: 200;
    line-height: 4rem;
    color: black;
    text-align: center;
}

.updates_yellow-highlight{
    color: blue;
}

h2.update_h2{
    color: black;
    text-align: center;
    font-size: 1rem;
}

.btn.btn-warning{
    display: inline-block;
    text-align: center;
}