body {
    width: 100%;
    position: absolute;
    overflow-x: hidden;
}

div.jumbotron {
    background-color: #2f61ce;
    height: 500px;
}

div.logo {
    width: 150px;
    height: 30px;
    left: 250px;
}

.container {
    color: #2f61ce;
    height: auto;
}

.navbar {
    left: 750px;
    background: transparent;
}

a.nav-link {
    font-size: 20px;
    max-width: 200px;
    color: tomato;
}

.headertext {
    padding: 6rem 0;
    z-index: 5;
    text-align: left;
}

h1.header {
    font-size: 4rem;
    font-weight: 200;
    line-height: 4rem;
    color: white;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 200;
    line-height: 3.5rem;
    color: white;
}

.yellow-highlight {
    color: yellow;
}